* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.log{
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #963b09;
    opacity: .8;
    color:white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo {
    margin-bottom: 10px;
    margin-right: 10%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color:white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.main-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.about-description h2{
    align-items: center;
}

.about-us {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}
.about-description p{
    text-align: justify;
}
.about-description img {
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.about-description .img {
    margin: 100px;
    margin-left: 150px;
}
footer {
    background-color: #963b09;
    opacity: .8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact-form {
    background-color: #00ffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    margin-top: 10px;
}

.button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
input:hover{
    background-color: rgb(217, 182, 8);
    opacity: .11;
}
textarea:hover{
    background-color: rgb(217, 182, 8);
    opacity: .11;
}
.button-group button:hover{
    background-color: rgb(45, 151, 196);
}